.mobile-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mobile-nav-header {
  height: 40px;
  width: 100%;
  background: #1e1e1e;
  color: aliceblue;
}
.mbnv {
  margin-left: 20px;
  color: burlywood;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 20px;
}
.mobile-nav-header .navIcon {
  color: #ffffff !important;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.mobile-nav-menus .nav-items {
  height: auto;
  width: 200px;
  background: #1e1e1e;
  padding: 1px;
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 599px) {
  .mobile-nav {
    display: none;
  }
  .mobile-nav {
    width: 91%;
  }
}
